<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130655923-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130655923-1');
  </script>

  <meta charset="utf-8">
  <meta name="keywords" content="short, stories, entertainment, reading, fiction">
  <meta name="description" content="A randomly selected short story, taken from reddit's /r/WritingPrompts">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Tell Me A Story - A New Story With Every Click</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <div class="container-fluid h-100">
  <% if (threadTitle === null) { %>
    <div class="mt-2">
      <h1>2 Minute Stories</h1>
    </div>
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-xs-12 text-center">
        <fieldset>
          <form action="/" method="post">
            <button class="btn btn-success mb-2" type="submit">
                Tell Me A Story&nbsp;&nbsp;<i class="fas fa-book-open"></i>
            </button>

            <p>A new story with every click</p>
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              How does it work?
            </button>
            <div class="collapse" id="collapseExample">
              2 Minute Stories finds the best short stories from reddit's <a target="_blank" href="https://reddit.com/r/writingprompts">Writing Prompts</a>.
            </div>
          </form>
        </fieldset>
      </div>
    </div>
     <% } %>
     <% if (threadTitle !== null) { %>
    <div >
      <div class="d-flex justify-content-between">
        <div class="mt-2"><h1>2 Minute Stories</h1></div>
        <div>
          <fieldset>
            <form action="/" method="post">
              <button class="btn btn-success mt-3" type="submit">
                  Tell Me A Story&nbsp;&nbsp;<i class="fas fa-book-open"></i>
              </button>
            </form>
          </fieldset>
        </div>
      </div>
    </div>
     <% } %>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 col-md-8 col-sm-12">
          <p><%= threadTitle %></p>
          <% if (comment !== null && threadLink !== null) { %>
              <div class="jumbotron">
                <%- comment.text %>
                  <p class="text-right">Short story by - <a target="_blank" href="https://reddit.com/u/<%- comment.author %>"><%- comment.author %></a></p>
                  <p class="text-right"><a target="_blank" href="https://reddit.com<%- threadLink %><%- comment.link %>">Source</a></p>
              </div>
            <% } %>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
